@media (min-width: 1440px) {
	body {
		display: grid;
		place-items: center;
	}
	.summary {
		display: flex;
		border-radius: 25px;
		overflow: hidden;
		height: 320px;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		&__header {
			justify-content: space-evenly;
			max-width: 230px;
			padding: 1rem 3rem 2rem;
			border-radius: 25px;
			&-circle {
				padding: 2rem 3rem;
			}
		}
		&__content {
			width: 230px;
			&-button {
				margin-bottom: 2rem;
				padding: 1.2rem 2rem;
				transition: background-image 0.3s;
			}
			&-button:hover {
				cursor: pointer;
				background-image: linear-gradient($slate-blue, $royal-blue);
			}
		}
	}
}
